CONFIG_ARCH_CIX=y
CONFIG_PCI_SKY1=y
CONFIG_PINCTRL_SKY1=y
CONFIG_RESET_SKY1=y
CONFIG_CIX_MBOX=y
CONFIG_GPIO_CADENCE=y

CONFIG_TEE=y
CONFIG_MMC=y
CONFIG_RPMB=y
CONFIG_OPTEE=y
CONFIG_HW_RANDOM_OPTEE=y

CONFIG_USB_CDNS_SUPPORT=m
CONFIG_USB_CDNS3=m
CONFIG_USB_CDNSP=m
CONFIG_USB_CDNSP_HOST=y
CONFIG_USB_GADGET=y
CONFIG_USB_CDNSP_GADGET=y
CONFIG_USB_CDNSP_SKY1=m
CONFIG_TYPEC=y
CONFIG_TYPEC_RTS5453=m

CONFIG_PHY_CIX_PCIE=y
CONFIG_PHY_CIX_USB2=y
CONFIG_PHY_CIX_USB3=y
CONFIG_PHY_CIX_USBDP=y

# CONFIG_FB is not set
CONFIG_DRM_CIX=y
CONFIG_DRM_LINLONDP=y
CONFIG_DRM_CLIENT_LIB=y
CONFIG_DRM_TRILIN_DPSUB=y

CONFIG_RESET_SKY1_AUDSS=m
CONFIG_CLK_SKY1_AUDSS=y
CONFIG_SND_HDA_CIX_IPBLOQ=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_SOC_CIX=m
CONFIG_SND_SOC_SKY1_SOUND_CARD=m
CONFIG_SND_SOC_CDNS_I2S_MC=m
CONFIG_SND_SOC_CDNS_I2S_SC=m
CONFIG_SND_SOC_SOF_CIX_TOPLEVEL=y
CONFIG_SND_SOC_SOF_CIX_SKY1=m

CONFIG_PWM_SKY1=m
CONFIG_SKY1_WATCHDOG=m
CONFIG_HWSPINLOCK_SKY1=y
CONFIG_NVMEM_SKY1=m
CONFIG_CIX_SKY1_SOCINFO=y
CONFIG_SKY1_PDC=y
CONFIG_CIX_BUS_PERF=m
CONFIG_CIX_CPU_IPA=y
CONFIG_CIX_DDR_LP=m

CONFIG_VIDEO_LINLON=m

CONFIG_ARMCHINA_NPU=m
CONFIG_ARMCHINA_NPU_ARCH_V3=y
CONFIG_ARMCHINA_NPU_SOC_SKY1=y

CONFIG_R8125=m
CONFIG_R8126=m

CONFIG_CIX_DSP=m
CONFIG_CIX_DSP_RPROC=m
CONFIG_DMABUF_HEAPS_DSP=m

